.NavBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
		/* border: 1px solid black; */
		/* width: 300px; */
    gap: 10px;
}

.Home {
    padding: 10px;
    background: white;
    border: none;
    border-radius: 5px;
}

.About{
    padding: 10px;
    background: white;
    border: none;
    border-radius: 5px;
}

.Login{
    padding: 10px;
    background: white;
    border: none;
    border-radius: 5px;
}

.Signup{
    padding: 10px;
    background: #6B2CBC;
    border: none;
    border-radius: 5px;
    color: white;
}